.chat-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;

  .message-container {
    flex-grow: 1;
    overflow-y: auto;
  }

  .message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    max-width: 70%;

    &.response {
      background-color: #f1f1f1;
      color: #333;
      align-self: flex-end;
    }

    &.question {
      background-color: #0088ff;
      color: #fff;
      align-self: flex-start;
    }
  }

  .input-container {
    display: flex;
    margin-top: 10px;

    .message-input {
      flex-grow: 1;
      padding: 8px;
      border: none;
      border-radius: 4px;
      font-size: 1.2rem;
    }

    .send-button {
      font-size: 14px;
      font-family: Roboto;
      padding: 8px 16px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;
      background-color: #3ff;
      color: #333;
      margin-left: 8px;

      &:hover {
        background-color: #00e6d2;
      }
    }
  }

  .user-message-actions {
    display: block;
    width: 300px;
    position: absolute;
    top: calc(100% + 10px) !important;
    right: 0;
    z-index: 1;

    button {
      float: right;
      font-size: 14px;
      font-family: Roboto;
      padding: 8px 16px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;
    }

    .cancel-button {
      background-color: #ccc;
      color: #333;
      margin-right: 10px;

      &:hover {
        background-color: #eee;
      }
    }

    .confirm-button {
      background-color: #3ff;
      color: #333;
      margin-left: 8px;

      &:hover {
        background-color: #00e6d2;
      }
    }

    &.top {
      bottom: 100%;
    }

    &.bottom {
      top: 100%;
    }
  }
}
